<%-include('./partials/header.ejs')%> 
<nav>
    <div class="logo">
        <span class="white">PORTIF</span>
        <img src="images/logo.png" > 
        <span class="danger">OLIO</span>
    </div>

    <div class="links">
        <ul>
            <li class="nav-link active"><a  href="/">Home</a></li>
            <li class="nav-link"><a  href="/about">About</a></li>
            <li class="nav-link"><a  href="/services">Services</a></li>
            <li class="nav-link"><a  href="/portifolio">Portifolio</a></li>
            <li class="nav-link"><a  href="/contact-us">Contact-us</a></li>
        </ul>
    </div>
    <div class="button">
            <span class="material-symbols-outlined button">menu</span>
    </div>
</nav> 
<section class="error-pg">
    <div class="container">
        <h4>
            Page not found.
        </h4>
    </div>
</section>    
<%-include('./partials/footer.ejs')%>