<%-include('./partials/header.ejs')%>

<nav>
    <div class="logo">
        <span class="white">DEVELOPER</span>
        <img src="images/logo.png" > 
        <span class="danger">CREATIONS</span>
    </div>

    <div class="links">
        <ul>
            <li class="nav-link"><a class="active" href="#banner">Home</a></li>
            <li class="nav-link"><a  href="#about">About</a></li>
            <li class="nav-link"><a  href="#services">Services</a></li>
            <li class="nav-link"><a  href="#portifolio">Portifolio</a></li>
            <li class="nav-link"><a  href="#contact-us">Contacts</a></li>
        </ul>
    </div>
    <span class="material-symbols-outlined button menu">menu</span>
    <span class="material-symbols-outlined button close">close</span>
    
</nav> 


<section class="error-pg">
    <div class="error-container">
        <h2>OOOPS! Couldn't find page/item. Page/item might have been moved or deleted.</h2>
    </div>
</section>
<%-include('./partials/footer.ejs')%>
