<%-include('./partials/header.ejs')%> 
<nav>
    <div class="logo">
        <span class="white">PORTIF</span>
        <img src="images/logo.png" > 
        <span class="danger">OLIO</span>
    </div>

    <div class="links">
        <ul>
            <li class="nav-link "><a class="active" href="/">Home</a></li>
            <li class="nav-link"><a  href="/about">About</a></li>
            <li class="nav-link"><a  href="/services">Services</a></li>
            <li class="nav-link"><a  href="/portifolio">Portifolio</a></li>
            <li class="nav-link"><a  href="/contact-us">Contact-us</a></li>
        </ul>
    </div>
    <div class="button">
        <span class="material-symbols-outlined button"></span>
    </div>
</nav> 

<section class="banner">
    <div class="left">
        <img src="/images/melvin.jpg">
        <svg></svg>
    </div>
    <div class="right">
        <div class="container">
            <h3>
                Hello there <span></span> , i'm
            </h3>
            <h2>
                Melvin Kinoti
            </h2>
            <h3>
                I'm a <span class="danger">Web developer!</span>
            </h3>
            <p>
                We specialize in full stack web devolepment for a diverse number of web applications.
                In a nutshell, we create, develop and publish webSites and/or webApps at pocket friendly prices
                and timely schedules all which depends on the size and complexity the client requires. 
                Stamp your online presence with a customized webApp that suits your online need.
            </p>
            <h4><span class="danger">Something for Everybody!</span></h4>
            <div class="bcon">
                <span class="button">hire me</span>
            </div>
            <div class="socials">
                <span><a href="https://www.instagram.com/melvinwhoozie/"><svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="instagram"><path fill="#6563FF" d="M17.34,5.46h0a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,17.34,5.46Zm4.6,2.42a7.59,7.59,0,0,0-.46-2.43,4.94,4.94,0,0,0-1.16-1.77,4.7,4.7,0,0,0-1.77-1.15,7.3,7.3,0,0,0-2.43-.47C15.06,2,14.72,2,12,2s-3.06,0-4.12.06a7.3,7.3,0,0,0-2.43.47A4.78,4.78,0,0,0,3.68,3.68,4.7,4.7,0,0,0,2.53,5.45a7.3,7.3,0,0,0-.47,2.43C2,8.94,2,9.28,2,12s0,3.06.06,4.12a7.3,7.3,0,0,0,.47,2.43,4.7,4.7,0,0,0,1.15,1.77,4.78,4.78,0,0,0,1.77,1.15,7.3,7.3,0,0,0,2.43.47C8.94,22,9.28,22,12,22s3.06,0,4.12-.06a7.3,7.3,0,0,0,2.43-.47,4.7,4.7,0,0,0,1.77-1.15,4.85,4.85,0,0,0,1.16-1.77,7.59,7.59,0,0,0,.46-2.43c0-1.06.06-1.4.06-4.12S22,8.94,21.94,7.88ZM20.14,16a5.61,5.61,0,0,1-.34,1.86,3.06,3.06,0,0,1-.75,1.15,3.19,3.19,0,0,1-1.15.75,5.61,5.61,0,0,1-1.86.34c-1,.05-1.37.06-4,.06s-3,0-4-.06A5.73,5.73,0,0,1,6.1,19.8,3.27,3.27,0,0,1,5,19.05a3,3,0,0,1-.74-1.15A5.54,5.54,0,0,1,3.86,16c0-1-.06-1.37-.06-4s0-3,.06-4A5.54,5.54,0,0,1,4.21,6.1,3,3,0,0,1,5,5,3.14,3.14,0,0,1,6.1,4.2,5.73,5.73,0,0,1,8,3.86c1,0,1.37-.06,4-.06s3,0,4,.06a5.61,5.61,0,0,1,1.86.34A3.06,3.06,0,0,1,19.05,5,3.06,3.06,0,0,1,19.8,6.1,5.61,5.61,0,0,1,20.14,8c.05,1,.06,1.37.06,4S20.19,15,20.14,16ZM12,6.87A5.13,5.13,0,1,0,17.14,12,5.12,5.12,0,0,0,12,6.87Zm0,8.46A3.33,3.33,0,1,1,15.33,12,3.33,3.33,0,0,1,12,15.33Z"></path></svg></a></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="facebook-f"><path fill="#6563FF" d="M15.12,5.32H17V2.14A26.11,26.11,0,0,0,14.26,2C11.54,2,9.68,3.66,9.68,6.7V9.32H6.61v3.56H9.68V22h3.68V12.88h3.06l.46-3.56H13.36V7.05C13.36,6,13.64,5.32,15.12,5.32Z"></path></svg></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24" id="twitter"><path fill="#6563FF" d="M22,5.8a8.49,8.49,0,0,1-2.36.64,4.13,4.13,0,0,0,1.81-2.27,8.21,8.21,0,0,1-2.61,1,4.1,4.1,0,0,0-7,3.74A11.64,11.64,0,0,1,3.39,4.62a4.16,4.16,0,0,0-.55,2.07A4.09,4.09,0,0,0,4.66,10.1,4.05,4.05,0,0,1,2.8,9.59v.05a4.1,4.1,0,0,0,3.3,4A3.93,3.93,0,0,1,5,13.81a4.9,4.9,0,0,1-.77-.07,4.11,4.11,0,0,0,3.83,2.84A8.22,8.22,0,0,1,3,18.34a7.93,7.93,0,0,1-1-.06,11.57,11.57,0,0,0,6.29,1.85A11.59,11.59,0,0,0,20,8.45c0-.17,0-.35,0-.53A8.43,8.43,0,0,0,22,5.8Z"></path></svg></span>
                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" id="github"><path d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"></path></svg></span>
            </div>
        </div>
    </div>
</section>

<section class="about white">
    <div class="left">
        <h3>About <span class="danger">Me</span></h3>
        <h2 class="success">
            FullStack Web Developer
        </h2>
        <p>
            FullStack web development refers to the skills of both a frontEnd and backEnd developer.
            FrontEnd web Applications are those webSites that are static in nature,
            meaning their content remains the same and the website owner can't change any content without
            involving the web developer, in a nutshell they are hard-wired and would need new code and
            website publication to change. These sites are suitable for portifolio webSites <span>like this one</span>.
            BackEnd web Applications on the other hand are dynamic in nature, this means that the website
            owner can easily manipulate most if not all elements on their web Application without involving the 
            web developer or having to republish the webApp which needless to say is what most businesses,
            institutions and firms require.
        </p>
        <span class="success">We have made two webApps one for frontEnd <a href="">Click here to view</a> and another one for
            the backend(FullStack) <a href="">Click here to view</a> for our clients to get a feel of the subtle 
            differences in order to know exactly the type of webApp you require for their online needs
        </span>
        <div class="bcon">
            <span class="button">Learn More</span>
        </div>
    </div>
    <div class="right">
        <img src="/images/melvin.jpg" >
        <svg></svg>
    </div>
</section>   

<section class="services">
    <h2>Our <span class="success">Services</span></h2>
    <div class="container">
        <div class="card service">
            <span class="icon"></span>
            <h3 class="success">Frontend Development</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Velit nihil nemo nostrum sint accusantium, aliquid unde 
                aspernatur sequi aliquam, dolorum blanditiis adipisci laborum 
                eveniet vel perferendis repellat repudiandae totam vitae animi. 
                Culpa dolore earum ipsum eos aut ad labore quisquam!
            </p>
            <span class="button">Read More</span>
        </div>
        <div class="card service">
            <span class="icon"></span>
            <h3 class="success">Fullstack Development</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Velit nihil nemo nostrum sint accusantium, aliquid unde 
                aspernatur sequi aliquam, dolorum blanditiis adipisci laborum 
                eveniet vel perferendis repellat repudiandae totam vitae animi. 
                Culpa dolore earum ipsum eos aut ad labore quisquam!
            </p>
            <span class="button">Read More</span>
        </div>
        <div class="card service">
            <span class="icon"></span>
            <h3 class="success">Graphics Design</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Velit nihil nemo nostrum sint accusantium, aliquid unde 
                aspernatur sequi aliquam, dolorum blanditiis adipisci laborum 
                eveniet vel perferendis repellat repudiandae totam vitae animi. 
                Culpa dolore earum ipsum eos aut ad labore quisquam!
            </p>
            <span class="button">Read More</span>
        </div>
    </div>
</section>

<section class="portifolio white">
    <h2>Latest <span class="danger">Projects</span></h2>
    <div class="container">
        <div class="card project">
            <img src="/images/course1.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
        <div class="card project">
            <img src="/images/course2.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
        <div class="card project">
            <img src="/images/course3.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
        <div class="card project">
            <img src="/images/course4.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
        <div class="card project">
            <img src="/images/course5.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
        <div class="card project">
            <img src="/images/course6.jpg">
            <div class="slider">
                <h3>Web Design</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Dolore harum rerum accusantium, reprehenderit quidem hic 
                    perferendis quis quos error. Vero.
                </p>
                <span class="icon"></span>
            </div>
        </div>
    </div>
</section>

<div class="contact-us">
    <div class="container">
        <h2>Get in <span class="success">touch</span></h2>
        <form action="https://formspree.io/f/mrgwwblk" method="POST">
            <ul>
                <li>
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" placeholder="Enter your first Name" required>
                </li>
                <li>
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" placeholder="Enter your last Name" required>
                </li>
                <li>
                    <label for="phone-no">Phone number</label>
                    <input type="number" name="phone-no" placeholder="Enter your Phone Number" required>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Enter your Email" required>
                </li>
                
                    <label for="message">Send us a message</label>
                
                
                    <textarea name="message" id="" placeholder="Write your message here"></textarea>
                
                
                    <button>Submit</button>
                
            </ul>
        </form>
    </div>
</div>

<script src="/script/home.js"></script>
<%-include('./partials/footer.ejs')%>